################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.Droid/obj
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.iOS/obj
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.macOS/obj
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.Skia.Gtk/obj
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.Skia.Tizen/obj
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.Skia.Wpf/obj
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.Skia.Wpf.Host/obj
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.UWP/bin
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.UWP/obj
/.vsconfig
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.Droid/bin/Debug
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.iOS/bin/iPhone/Debug
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.iOS/bin/iPhoneSimulator/Debug
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.Wasm/bin/Debug/netstandard2.0
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.Wasm/obj
