################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.Droid/bin
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.Droid/obj
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.iOS/bin
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.iOS/obj
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.macOS/obj
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.Skia.Gtk/obj
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.Skia.Tizen/obj
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.Skia.Wpf/obj
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.Skia.Wpf.Host/obj
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.UWP/bin
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.UWP/obj
/.vsconfig
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.Wasm/bin
/TemplatedContentDialogIssue/TemplatedContentDialogIssue.Wasm/obj
/PureUWPApp/bin
/PureUWPApp/obj
